In [2]:
import pandas as pd
import numpy as np
from numba import jit
import dask.dataframe as dd
from gensim.models.word2vec import Word2Vec
import dask.delayed as delayed

In [3]:
import dask

In [4]:
dask.__version__

'0.18.1'

In [14]:
P = pd.DataFrame([range(1,100), range(2,101)]).T

In [15]:
S = P.apply(np.sin)

In [25]:
P.corrwith(S, axis=1)

0     1.0
1    -1.0
2    -1.0
3    -1.0
4     1.0
5     1.0
6     1.0
7    -1.0
8    -1.0
9    -1.0
10    1.0
11    1.0
12    1.0
13   -1.0
14   -1.0
15   -1.0
16    1.0
17    1.0
18    1.0
19   -1.0
20   -1.0
21   -1.0
22   -1.0
23    1.0
24    1.0
25    1.0
26   -1.0
27   -1.0
28   -1.0
29    1.0
     ...
69    1.0
70   -1.0
71   -1.0
72   -1.0
73    1.0
74    1.0
75    1.0
76   -1.0
77   -1.0
78   -1.0
79    1.0
80    1.0
81    1.0
82   -1.0
83   -1.0
84   -1.0
85    1.0
86    1.0
87    1.0
88    1.0
89   -1.0
90   -1.0
91   -1.0
92    1.0
93    1.0
94    1.0
95   -1.0
96   -1.0
97   -1.0
98    1.0
Length: 99, dtype: float64

___

In [310]:
%%timeit
P.divide(15).subtract(1)

1000 loops, best of 3: 297 µs per loop

In [308]:
%%timeit
P/15

1000 loops, best of 3: 204 µs per loop

In [301]:
days_var=10

In [26]:
Q = dd.from_pandas(P, npartitions=7)

In [222]:
%%timeit
P.rolling(days_var).apply(lambda x: np.var(np.cumprod(x))).shift(-days_var+1)

/home/marcussky/.conda/envs/tulip/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

100 loops, best of 3: 4.42 ms per loop

In [223]:
%%timeit
P.iloc[::-1].rolling(days_var).apply(lambda x: np.var(np.cumprod(x))).iloc[::-1]

/home/marcussky/.conda/envs/tulip/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

100 loops, best of 3: 4.56 ms per loop

In [149]:
P.iloc[::-1].rolling(days_var).apply(lambda x: np.var(np.cumprod(x[::-1])), raw=True).iloc[::-1].head()

              0             1
0  1.167105e+12  1.413451e+14
1  1.413451e+14  5.092521e+15
2  5.092521e+15  9.569616e+16
3  9.569616e+16  1.173057e+18
4  1.173057e+18  1.056390e+19

In [313]:
Q = Q.rolling(days_var).map_overlap(lambda x: np.var(np.cumprod(x)), raw=True).shift(-days_var+1)#apply(lambda x: np.var(np.cumprod(x)), raw=True)

AttributeError: 'Rolling' object has no attribute 'map_overlap'

In [316]:
Q.rolling(days_var).apply(lambda x: np.var(np.cumprod(x)))

/home/marcussky/.conda/envs/tulip/lib/python3.6/site-packages/dask/dataframe/rolling.py:179: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  return getattr(rolling, name)(*args, **kwargs)

Dask DataFrame Structure:
                     0        1
npartitions=7
0              float64  float64
15                 ...      ...
...                ...      ...
90                 ...      ...
98                 ...      ...
Dask Name: apply, 46 tasks

In [304]:
Q.compute().head()

              0             1
0  1.167105e+12  1.413451e+14
1  1.413451e+14  5.092521e+15
2  5.092521e+15  9.569616e+16
3  9.569616e+16  1.173057e+18
4  1.173057e+18  1.056390e+19

In [14]:
Z = Q.loc[[0,2,3]]

In [17]:
A.compute().head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,nan,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
1,2,1.0,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
2,3,2.0,1.0,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
3,4,3.0,2.0,1.0,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
4,5,4.0,3.0,2.0,1.0,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan

In [67]:
R = dd.from_pandas( pd.DataFrame(
    data=np.zeros(
        (0, len(Z.index))) , columns=Z.index), npartitions=2)

F = dd.multi.concat([R, A], axis=0, join='inner')

In [71]:
F.compute()

     0     2     3
0    1   nan   nan
1    2   nan   nan
2    3   1.0   nan
3    4   2.0   1.0
4    5   3.0   2.0
5    6   4.0   3.0
6    7   5.0   4.0
7    8   6.0   5.0
8    9   7.0   6.0
9   10   8.0   7.0
10  11   9.0   8.0
11  12  10.0   9.0
12  13  11.0  10.0
13  14  12.0  11.0
14  15  13.0  12.0
15  16  14.0  13.0
16  17  15.0  14.0
17  18  16.0  15.0
18  19  17.0  16.0
19  20  18.0  17.0
20  21  19.0  18.0
21  22  20.0  19.0
22  23  21.0  20.0
23  24  22.0  21.0
24  25  23.0  22.0
25  26  24.0  23.0
26  27  25.0  24.0
27  28  26.0  25.0
28  29  27.0  26.0
29  30  28.0  27.0
..  ..   ...   ...
69  70  68.0  67.0
70  71  69.0  68.0
71  72  70.0  69.0
72  73  71.0  70.0
73  74  72.0  71.0
74  75  73.0  72.0
75  76  74.0  73.0
76  77  75.0  74.0
77  78  76.0  75.0
78  79  77.0  76.0
79  80  78.0  77.0
80  81  79.0  78.0
81  82  80.0  79.0
82  83  81.0  80.0
83  84  82.0  81.0
84  85  83.0  82.0
85  86  84.0  83.0
86  87  85.0  84.0
87  88  86.0  85.0
88  89  87.0  86.0
89  90  88.0  87.0
90  91  89.0  88.0
91  92  90.0  89.0
92  93  91.0  90.0
93  94  92.0  91.0
94  95  93.0  92.0
95  96  94.0  93.0
96  97  95.0  94.0
97  98  96.0  95.0
98  99  97.0  96.0

[99 rows x 3 columns]

In [119]:
b  = pd.concat([pd.Series(range(len(P))).shift(i) for i in range(30)], axis=1).apply(lambda x: list(x), axis=1).apply(lambda x: [int(i) for i in x if i >= 0])

In [122]:
P.shape

(99,)

In [121]:
b.apply(lambda x: P[x].sum()).shape

(99,)

In [5]:
next(x)

(2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [5]:
P.rolling(3).apply(lambda x: np.var(np.cumprod(x)));

/home/marcussky/.conda/envs/tulip/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

In [84]:
S = pd.Series(['This is one Sentence', 'This is another'])

In [58]:
D = S.apply(lambda x: pd.Series([x, x]))

In [62]:
W = S

In [64]:
W[1].wv.vocab

{'This': <gensim.models.keyedvectors.Vocab at 0x7f10feb5d198>,
 'is': <gensim.models.keyedvectors.Vocab at 0x7f10feb5d208>,
 'another': <gensim.models.keyedvectors.Vocab at 0x7f10feb5d1d0>}

In [66]:
V = W.apply(lambda word2vec: pd.DataFrame(data=word2vec.wv.vectors, index=word2vec.wv.vocab.keys()))

In [80]:
vocab = pd.DataFrame(['This'], columns=['vocab'])

In [81]:
U = V.apply(lambda frame: vocab.merge(frame, how='left', left_on='vocab', right_index=True).drop('vocab', axis=1))

In [82]:
U[1]

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.004006,0.002925,-0.004136,-0.003935,0.003676,-0.001518,-0.004813,-0.002878,0.000225,0.004437,...,0.002888,-0.00019,0.004597,-0.003975,-0.003734,-0.00177,0.003255,-0.00467,-0.004361,0.004454

In [86]:
A = pd.Series(['This is one Sentence', 'This is another'])

In [91]:
B = pd.Series([[0,1],[1]])

In [93]:
B.apply(lambda x: A.iloc[x].sum())

0    This is one SentenceThis is another
1                        This is another
dtype: object